/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* VARIABLES*/
:root {

    /*Pallette*/
    --primary:#FBF5F3;
    --secondary:#202020;
    --grey:#545C52;
    --accent:#ED2327;

    /* Font Sizes */
    --text-xxl: 4.7em;
    --text-xl: 3.5em;
    --text-xl2: 3.1em;
    --text-lg: 1.9em;
    --text-sm: 1.6em;
    --text-xs: 1.3em;

    /* Spacings */
    --space-xxl: 12rem;
    --space-xl: 8rem;
    --space-lg: 5rem;
    --space-md: 3.2rem;
    --space-sm: 1.6rem;
    --space-xs: 0.8rem;    
}

/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary);
    color: var(--grey);
    min-height: 1vh;
}
header, footer{
    height: var(--space-xxl);
    padding: var(--space-sm) var(--space-xxl);
    width: 100%;
    background-color: var(--primary);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    margin: 0, var(--space-xxl);
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
}
ul li a{
    margin-right: var(--space-sm);
}

a{
    text-decoration: none;
    color: var(--grey);
    font-size: var(--text-lg);
}

#banner{
    background-image: url(../resources/home41-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
section{
    height: 34.5rem; 
}
h1{
    font-size: var(--text-xxl);
}
.box-1{
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: var(--space-xl);
}
.box-1 h1{
    color: var(--accent);
}
.box-1 p{
    font-size: var(--text-sm);
}

.art-1{
    width: 100%;
}
.art-1 p{
    font-size: var(--text-sm);
}

.art-2{
    width: 100%;
}


.art-2 p{
    font-size: var(--text-xs);
    line-height:  2em;
    text-align: center;
}
#banner2{
    background-image: url(../resources/12.jpg);
    background-size: cover;
}
h2{
    font-size: var(--text-xl);
    color: var(--accent);
}
.box-2{
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-xl);
}
.box-2 p{
    font-size: var(--text-sm);
}

#banner3{
    background-image: url(../resources/2.jpg);
    background-size: cover;
    background-position: center;
}

h3{
    font-size: var(--text-xl2);
}
#banner4{
    background-image: url(../resources/11.jpg);
    background-size: cover;
}

.box-type1{
    height: 34.5rem;
    padding: var(--space-lg);
    margin: var(--space-sm) 0;
    background-color: var(--primary);
    border-radius: 2rem;
}

.box-type1 figure img{
    height: 18.5rem;
    width: 30.3rem;
    margin-right: var(--space-sm);
}
.box-type1 p{
    font-size: var(--text-lg);
}
.titulos{
    padding: var(--space-xl);
    color: var(--primary);
}
.titulos p{
    font-size: var(--text-sm);
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: var(--text-lg);      
}


