/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* VARIABLES*/
:root {

    /*Pallette*/
    --primary:#FBF5F3;
    --secondary:#202020;
    --grey:#545C52;
    --accent:#ED2327;

    /* Font Sizes */
    --text-xxl: 4.7em;
    --text-xl: 3.5em;
    --text-xl2: 3.1em;
    --text-lg: 1.9em;
    --text-sm: 1.6em;
    --text-xs: 1.3em;

    /* Spacings */
    --space-xxl: 12rem;
    --space-xl: 8rem;
    --space-lg: 5rem;
    --space-md: 3.2rem;
    --space-sm: 1.6rem;
    --space-xs: 0.8rem;    
}
/* BOOTSTRAP DESREBOOT*/
ol, ul, dl{
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding-left: 0;
}

/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary);
    color: var(--grey);
    min-height: 1vh;
}
header, footer{
    height: var(--space-xxl);
    padding: var(--space-sm) var(--space-xxl);
    width: 100%;
    background-color: var(--primary);
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}
.navbar1 {
    display: flex;
    margin: 0, var(--space-xxl);
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
}
ul li a{
    margin-right: var(--space-sm);
}

a{
    text-decoration: none;
    color: var(--grey);
    font-size: var(--text-lg);
}

#banner{
    height: 34.5rem; 
    background-image: url(../resources/home41-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

h1{
    font-size: var(--text-xxl);
}
.box-1{
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: var(--space-xl);
}
.box-1 h1{
    color: var(--accent);
}
.box-1 p{
    font-size: var(--text-sm);
}

.art-1{
    width: 100%;
    display: flex ;
    flex-flow: column;
    justify-content: center;
    padding: 0 5rem 0 0;
    border-right: 0.1rem solid var(--accent);
    height: 17rem;
    text-align: center;
}

.art-1 p{
    font-size: var(--text-sm);
    margin-top: 3rem;
}

.art-2{
    width: 100%;
    padding: 0 0 0 5rem;
}


.art-2 p{
    font-size: var(--text-xs);
    line-height:  2em;
    text-align: center;
}
#banner2{
    height: 34.5rem; 
    background-image: url(../resources/12.jpg);
    background-size: cover;
}
h2{
    font-size: var(--text-xl);
    color: var(--accent);
}
.box-2{
    display: flex;
    height: 34.5rem; 
    flex: 1 1 50%;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-xl);
}
.box-2 p{
    font-size: var(--text-sm);
}


#banner3{
    height: 34.5rem; 
    background-image: url(../resources/2.jpg);
    background-size: cover;
    background-position: center;
}

h3{
    font-size: var(--text-xl2);
}
#banner4{
    height: 34.5rem; 
    background-image: url(../resources/11.jpg);
    background-size: cover;
}

.box-type1{
    display: flex;
    justify-content: center;
    height: 34.5rem;
    padding: var(--space-lg);
    margin: var(--space-sm) 0;
    background-color: var(--primary);
    border-radius: 2rem;
}

.mitad{
    flex: 1 1 50%;
}


.box-type1 form{
    display: flex;
    flex-direction: column;
    
    padding: 0 var(--space-xl);
}
.box-type1 form label, button, textarea{
    font-size: var(--text-lg);
    margin: 2rem 0;
}

#form{
    height: 80rem;
    background-color:var(--secondary);
}
#form input, textarea, button{
    border: none;
}
#form input{
    height: 3em;
    font-size: var(--text-lg);
}
#form textarea {
    font-size: var(--text-lg);
}
#form button{
   background-color: var(--secondary);
   border: none;
   color: var(--primary);
    
}

.box-type1 figure img{
    height: 20rem;
    width: 20rem;
    margin-right: var(--space-sm);
}

.figure--bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.box-type1 p{
    font-size: var(--text-lg);
}
.titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--space-xl);
    color: var(--primary);
}
.titulo-producto{
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.titulos p{
    font-size: var(--text-sm);
}

.imagen img{
    width: 60em;
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: var(--text-lg);      
}


