/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* VARIABLES*/
:root {

    /*Pallette*/
    --primary:#FBF5F3;
    --secondary:#202020;
    --grey:#545C52;
    --accent:#ED2327;

    /* Font Sizes */
    --text-xxl: 4.7em;
    --text-xl: 3.5em;
    --text-xl2: 3.1em;
    --text-lg: 1.9em;
    --text-sm: 1.6em;
    --text-xs: 1.3em;

    /* Spacings */
    --space-xxl: 12rem;
    --space-xl: 8rem;
    --space-lg: 5rem;
    --space-md: 3.2rem;
    --space-sm: 1.6rem;
    --space-xs: 0.8rem;    
}
/* BOOTSTRAP DESREBOOT*/
ol, ul, dl{
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding-left: 0;
}


/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary);
    color: var(--grey);
    min-height: 1vh;
}
header, footer{
    min-height: var(--space-xxl);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-sm), var(--space-xxl);
    width: 100%;
    background-color: var(--primary);
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}

.navbar1 {
    display: flex;
    flex-direction: row;
    margin: 0, var(--space-xxl);
    background-color: aqua;
    max-width: 1600px; 
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    display: flex;
}
ul li a{
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

a{
    text-decoration: none;
    color: var(--grey);
    font-size: var(--text-lg);
}

#banner{
    height: 34.5rem; 
    background-image: url(../resources/home41-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    
}

h1{
    font-size: var(--text-xxl);
}
.box-1{
    display: flex;
    flex: 1 1 50%;
    min-height: 34.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: var(--space-xl);
}
.box-1 h1{
    color: var(--accent);
}
.box-1 p{
    font-size: var(--text-sm);
}

.art-1{
    width: 100%;
    display: flex ;
    flex-flow: column;
    justify-content: center;
    padding: 0 5rem 0 0;
    border-right: 0.1rem solid var(--accent);
    min-height: 17rem;
    text-align: center;
}

.art-1 p{
    font-size: var(--text-sm);
    margin-top: 3rem;
}

.art-2{
    width: 100%;
    padding: 0 0 0 5rem;
}


.art-2 p{
    font-size: var(--text-xs);
    line-height:  2em;
    text-align: center;
}

.art-3{
    min-height: 34.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner2{
    height: 34.5rem; 
    background-image: url(../resources/12.jpg);
    background-position: center;
    background-size: cover;
}
h2{
    font-size: var(--text-xl);
    color: var(--accent);
}
.box-2{
    display: flex;
    min-height: 34.5rem; 
    flex: 1 1 50%;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xl);
}
.box-2 p{
    font-size: var(--text-sm);
}


#banner3{
    height: 34.5rem; 
    background-image: url(../resources/2.jpg);
    background-size: cover;
    background-position: center;
}

h3{
    font-size: var(--text-xl2);
}
#banner4{
    height: 34.5rem; 
    background-image: url(../resources/11.jpg);
    background-size: cover;
}

.box-type1{
    display: flex;
    justify-content: center;
    min-height: 34.5rem;
    padding: var(--space-lg);
    margin: var(--space-sm) 0;
    background-color: var(--primary);
    
}

/* .mitad{
    flex: 1 1 50%;
} */


.box-type1 form{
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-xl);
}
.box-type1 form label, button, textarea{
    font-size: var(--text-lg);
    margin: 2rem 0;
}

#form{
    height: 80rem;
    background-color:var(--secondary);
}
#form input, textarea, button{
    border: none;
}
#form input{
    height: 3em;
    font-size: var(--text-lg);
}
#form textarea {
    font-size: var(--text-lg);
}
#form button{
   background-color: var(--secondary);
   border: 1px solid var(--primary);
   color: var(--primary);
   width: 15rem;
   margin: auto;   
   transition: 0.3s ease-in-out;
}

#form button:hover{

    background-color: var(--primary);
    color: var(--accent);
}

.box-type1 figure img{
    height: 20rem;
    width: 20rem;
    margin-right: var(--space-sm);
}

.figure--bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.box-type1 p{
    font-size: var(--text-lg);
}
.titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--space-xl);
    color: var(--primary);
}
.titulo-producto{
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.titulos p{
    font-size: var(--text-sm);
}

.navbar ul li a{
    padding: 0.5rem;
    transition: 0.5s ease-in-out;
}

.navbar ul li a:hover{
    background-color: var(--secondary);
    color: var(--primary);
}


/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: var(--text-lg);      
}


@media screen and (max-width: 704px) {
    
    header{
        flex-direction: column;
    }

    .navbar1{
        flex-direction: column;
        display: none;
        
    }
    
    .box-1{
        flex-direction: column;
    }
    .art-1{
        padding: 0 0 5rem 0;
        border-right: none;
        border-bottom: 0.1rem solid var(--accent);
        
    }

    .art-2{
        padding: 5rem 0 0 0;
    }

    .box-2{
        flex-direction: column;
    }
    
}


@media screen and(max-width: 1070px){
    .navbar1{
        flex-direction: column;
        display: none;
        margin: 0;
    }
    .navbar {
        align-items: center;
    }
    header{
        margin: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: var(--space-sm), 0;
    }
}
@media screen and(max-width: 882px)  {
    ul{
        display: block;
    }
    .navbar{
        display: none;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    .navbar ul{
        display: none;
        flex-direction: column;
        justify-self: center;

    }

    .navbar ul li a, .navbar ul li{
        display: none;
    }
    
    .navbar ul {
        display: none;
    }
    .box-type1{
        flex-direction: column;
    }
    .titulo-producto{
        display: flex;
        flex-direction: column;
    }
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 34.5rem;
    background-color: var(--primary);
    padding: var(--space-lg);
    margin: var(--space-sm) 0;
}
.row figure{
    height: 20rem;
    width: 20rem;
    margin: 1rem auto; 
}
.row figure img{
    height: 20rem;
    width: 20rem;
    margin-right: var(--space-sm);
}

.img-effect{
    transition: 0.75s ease-in-out;
}
.img-effect:hover{
    opacity: 50%;
    
}




